.game{
    width: auto;
    border: 1px solid white;
    background-color: green;
    text-align: center;
    height: 500px;
    margin: 0 auto;
}
.btn{
    padding: 10px 30px;
    border-radius: 10px;
}
.newGame{
    padding: 10px 30px;
    border-radius: 0px;
    background-color: black;
    color: white;
}
h2{
    padding: 10px;
    background-color: black;
    color: white;
}
.game-body{
    padding: 20px;

}
.cards{
    height: 100px;
    align-items: left;
    border: 1px solid black;
}
.dealercards{
    height: 100px;
    align-items: baseline;

    
}
#player{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.btn{
    background-color: black;
    color: white;
    border-radius: 0px;
}
.player{
    font-size: medium;
}