.game{
    width: auto;
    border: 1px solid white;
    background-color: green;
    text-align: center;
    height: 500px;
    margin: 0 auto;
}
.btn{
    padding: 10px 30px;
    border-radius: 10px;
}
h2{
    padding: 10px;
    background-color: black;
    color: white;
}
.game-body{
    padding: 20px;

}

.status{
    display: inline-block;
    background: blue;
    border: 5px solid white;
    border-radius: 10px;
    padding: 5px 20px;
    margin: auto;
    display: none;
}
.players{
    width: 10%;
    height: 10%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    margin: 5%;
    
    background: white;
}
.player.active{
    border: 2px solid black;
}
.points{
    text-align: center;
    font-size: 5px;
    margin: 10px;
}
.deck{
    background: white;
    color:crimson;
    padding: 5px;
    border-radius: 5px;
    border: 5px;
    float: left;
}
.btn{
    background-color: black;
    color: white;
    border-radius: 0px;
}